# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# UnityCloudBuild Webhook Settings
# Go to https://smee.io/new set this to the URL that you are redirected to.
UNITYCLOUDBUILD_DEVELOPER_URL=https://developer.cloud.unity3d.com/build
UNITYCLOUDBUILD_WEBHOOK_PROXY_URL=
UNITYCLOUDBUILD_WEBHOOK_SECRET=development