env: flex
runtime: nodejs

env_variables:
  # The ID of your GitHub App
  APP_ID: 99999
  PRIVATE_KEY_PATH: githubapp.private-key.pem
  WEBHOOK_SECRET: development

  # Use `trace` to get verbose logging or `info` to show less
  LOG_LEVEL: debug

  # Go to https://smee.io/new set this to the URL that you are redirected to.
  UNITYCLOUDBUILD_DEVELOPER_URL: https://developer.cloud.unity3d.com/build
  UNITYCLOUDBUILD_WEBHOOK_URL: https://smee.io/flqjE0qzzWRMY8kR
  UNITYCLOUDBUILD_WEBHOOK_SECRET: development